
a:link {
    color: black;
  }
  
  visited link */
   a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: aqua;
  }
  
  /* selected link */
  a:active {
    color: black;
  }




h1 {
    
    color:aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0vh;
    
}

h7 {
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0vh;
    font-style: italic;

}

h3 {
    color:aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-style: italic;
    text-decoration: underline;
}

h5 {
    color:black;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 0vh;
    margin-left: 8%;
}

h6 {

    color:black;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 0vh;
    margin-left: 8%;

}

p1 {
    color:white;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 0vh;
    font-style: italic;
    margin-left: 5%;
}

p2 {
    color:white;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 5vh;
    font-style: italic;
    margin-left: 5%;
}

p3 {
    color:white;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 5vh;
    font-style: italic;
    margin-left: 20%;
}