.Login {
    width: 100%;
    padding: 12px;
    
    resize: vertical;
    text-align: center;
    
    
}    

.SignUp {
    width: 100%;
    padding: 12px;
    
    
    resize: vertical;
    text-align: center;
   
}