.ImageStyle>img {
    border-radius: 10% 50%;
    justify-content: center;
    display: flexbox;
    margin-left: 5%;
}


h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.Container-Home {
    background-image: url("./Images/kids.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    height: '100%';
    width: '100%';
    justify-content: center;

}

* {
    box-sizing: border-box;
  }

  .nodisplay {
    color:transparent;
  }