

.content{
    height: 150vh;
    padding-top: 10%;
    max-width: auto;
    justify-content: center;
}

.Hobbies{
    position:absolute;
    top:10%;
    left:50%;
    padding: 5px 15px;
    transform: translate(-50%, -50%);
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color:aqua;
    z-index: 2;
    max-width: auto;
    font-size: 50px;
    opacity: 50%;
    border: 10px solid #f1f1f1;
    text-align: center;


}

.Hobbies:hover {
    background-color: aqua;
    color: #2c3e50;
    font-weight: bold;
}  

.Bass {
    justify-content: center;
   display: inline-block;
    max-width: 50%;
    height: 50%;
    display: flexbox;
    margin: 5% 5%;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
    
}



.heart {
    color:aqua;
}

.container-Hobbies {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}