body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
  }

.Nav {
  
    overflow: hidden;
    position: fixed;
    margin-bottom: 10px;
}
    
.Nav a.active {
  
  color: "#C1D9DB";
}

.Nav a {
    float: left;
    color: "#C1D9DB";
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
    text-decoration: underline;
    
}

.Nav a:hover {
    color: white;
    
  }


