body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
  }

.Nav {
}
    

.Nav a {
    float: left;
    color:aqua;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 17px;
    text-decoration: underline;
    
}

.Nav a:hover {
    
    color: white;
  }

.Nav a.active {
    
    color: black;
  }

FaRegHeart {
  color: aqua;
}